<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Europass ErrCodes</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/errcodes.css" rel="stylesheet">
</head>

<body>
<div class="container">

    <div class="page-header">
        <h1>ErrCode <small>${model.errcode}</small></h1>
        <p class="lead">
            <% if(model.logEvent) { %>
                Found in <code>${model?.logEvent?.host + " " + model?.logEvent?.logFilePath}</code>
                <br/>
                Timestamp: <code>${model.logEvent.timestamp}</code>
            <% } else { %>
                Not found!
            <% } %>
        </p>
    </div>
    <% if(model.logEvent) { %>
    <pre style="overflow:auto;">${model?.logEvent?.message}</pre>
    <pre style="overflow:auto;">${model?.logEvent?.stackTrace}</pre>
    <% } %>
    <div>&nbsp;</div>
</div>
</body>
</html>